@import "reset";
@import "vars";
@import "fonts";
@import "grid";

// components
@import "components/btn";
@import "components/Typography";
@import "components/Burger";
@import "components/Input";
@import "components/Accordion";
@import "components/popup";
@import "components/avatar";
@import "components/dropdown";
@import "components/Breadcrumbs";
@import "components/swiper";

* {
  box-sizing: border-box;
  white-space: normal;
}

img {
  max-width: 100%;
}

body {
  font-size: 20px;
  line-height: 1.2;
  font-family: $font1;
  background: #544C43;
  color: $white-color;
  @media (max-width: 1200px) {
    font-size: 13px;
    line-height: 1.3;
  }
  @media (max-width: 1300px) {
    padding-top: 45px;
  }
}
@media (max-width: 1200px) {
  .btn-sticky{
    position: sticky;
    bottom: 0;
    left: 0;
  }
}
body, html {
  max-width: 100vw;
  width: 100%;
  overflow-x: hidden;
}

.bg1 {
  background: url('../images/img10.png') center/contain;
}

.bg2 {
  background: url('../images/img12.png') center/contain;
}

.bg3 {
  background: url('../images/img16.png') center/contain;
}

.bg4-white {
  background: url('../images/img14.png') center/contain;
}

.bg-gold {
  background: url('../images/img11.png') center/contain;
}

.bg-black {
  background: url('../images/img13.png') center/contain;
}


@import "blocks/header";
@import "blocks/mainBlocks";

@media (max-width: 1200px) {

}
@media (min-width: 1201px) {
  .onMob{
    display: none;
  }
}


