.dropdown-toggle {
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  z-index: 10;
  flex-direction: column;
  a{
    font-size: 15px;
    color: #333;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color .3s;
    &:hover{
      background: #dadada;
    }
  }
}

.dropdown:hover .dropdown-menu {
  display: flex;
}


