<header class="header">
    <div class="container">
        <div class="header__row">
            <div class="header__logo"><img src="assets/images/logo.png" alt=""></div>
            <nav class="header__nav">
                <ul class="header__list">
                    <li class="header__item"><a href="#way" class="header__link scrollTo">Путь к преподаванию</a></li>
                    <li class="header__item"><a href="#blog" class="header__link scrollTo">личный блог</a></li>
                    <li class="header__item"><a href="#contacts" class="header__link scrollTo">Контакты</a></li>
                </ul>
            </nav>
            <a href="#contacts" class="header__btn fz20 ff2 scrollTo">
                <span>Записаться на мастер-класс</span>
            </a>
            <div class="header__burger ">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
</header>
